.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 2;
}
.navbar-content {
    height: 100%;
}
.search-input input {
    width: 400px;
    font-size: 18px;
    outline: none;
    background-color: rgba(19, 30, 46, .5);
    border: none;
    color: var(--primary-color);
    border-radius: 6px;
    width: 750px;
    padding: 18px 20px;
    max-width: 100%;
}
.weather .search-input input {
    width: 600px;
}