.App, .weather {
    height: 100vh;
}
.container {
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
}
.weather-header {
    overflow: hidden;
    position: relative;
}
.weather-header .container {
    padding: 10% 0;
    max-width: 90%;
}
.weather-header h1 {
    margin: 0;
    font-size: 35px;
}
.weather-header h2 {
    margin: 0;
    font-size: 25px;
}
.weather-header .favorite-btn {
    margin-left: 10px;
}
.weather-header .favorite-btn svg {
    fill: #aeff00;
    cursor: pointer;
}
.weather-header video {
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    opacity: .5;
}
.weather-header .weather-icon {
    height: 70px;
}
.weather-header .weather-icon img {
    width: 100px;
}

.weather-content {
    background: linear-gradient(to top, rgba(42,67,101,1) 0%, rgba(19, 30, 46, 1) 90%, rgba(19, 30, 46, 0) 100%);
    transform: translateY(-65px);
    position: relative;
    z-index: 2;
    height: calc(100% - 22%);
}
.weather-content .container {
    padding-top: 100px;
}

.forecast-selector {
    position: relative;
    margin-left: -14px;
}
.forecast .weather-icon img {
    width: 40px;
}
.forecast-day {
    margin-left: 10px;
}
.forecast-day span {
    color: #a6a6a6;
    font-size: 14px;
    line-height: 10px;
}
.forecast-item .temperature {
    margin-left: 5px;
    font-weight: 600;
}
.forecast-item {
    padding: 12px 14px 12px 10px;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 4px;
}
.forecast-item:hover {
    background-color: #192d49;
}
.active-forecast-line {
    background-color: #2a4264;
    height: 3px;
    position: absolute;
    left: 0;
    transition: width .3s, left .3s;
    border-radius: 120px;
}

.forecast-container {
    margin-top: 15px;
    flex-wrap: wrap;
}
.forecast-hour {
    padding: 5px 0;
    margin-right: 20px
}
.forecast-hour .hour {
    font-size: 18px;
    color: #a6a6a6;
    font-weight: 600;
    min-width: 40px;
}
.forecast-hour .condition {
    width: 140px;
}

.forecast-hour .temperature span {
    font-size: 18px;
    width: 55px;
    text-align: right;
}
.forecast-hour .temperature {
    min-width: 125px;
    justify-items: flex-end;
}
.feels-like {
    margin-left: 10px;
}

@media only screen and (max-width: 600px) {
    .navbar .search-input {
        padding: 0 15px;
    }
    .navbar .search-input, .search-input input {
        width: 100% !important;
    }
    .weather-header .container {
        padding-top: 80px;
    }
    .weather-content .container {
        padding-top: 70px;
    }
    .weather-header .weather-icon {
        display: none;
    }
    .forecast-selector {
        padding-left: 25px;
        overflow-x: auto !important;
        overflow-y: hidden;
    }
    .forecast-selector::-webkit-scrollbar {
        display: none;
    }
    .forecast-container {
        max-width:85%;
        margin: 0 auto;
    }
    .forecast-container .forecast-hour {
        margin: 0;
        width: 100%;
        justify-content: space-between;
    }
}